@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anaheim&family=Press+Start+2P&display=swap");
body {
  margin: 0;
  background-color: #000000; }

header {
  height: 550px;
  text-align: center;
  color: #c4c4c4; }

.nb {
  position: fixed;
  width: 100%;
  z-index: 10;
  text-transform: capitalize;
  font-family: 'Press Start 2P', cursive; }

.bg-custom {
  background-color: #6b3694; }

.logomobile {
  margin-top: 50px;
  padding: 10px; }

h1 {
  padding: 20px;
  margin-top: 50px; }

main {
  padding-top: 10px;
  background-color: #c4c4c4; }

h3 {
  text-transform: capitalize;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  padding: 30px; }

p {
  font-family: 'Anaheim', sans-serif;
  padding: 10px 30px 50px 30px;
  font-size: 1.2rem; }

.my_projects {
  padding: 10px 30px 50px 30px; }
  .my_projects__projects {
    text-align: center; }
    .my_projects__projects__img {
      width: 50%;
      border-radius: 5%; }

.my_skills {
  padding: 10px 10px 50px 10px; }
  .my_skills__skill {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    text-align: center; }
    .my_skills__skill__img {
      width: 25%;
      padding: 20px; }

.form {
  text-align: center;
  width: 80%;
  margin: auto; }
  .form h3 {
    color: #6b3694; }
  .form__name {
    width: 100%; }
  .form__surname {
    width: 95%;
    margin: auto;
    margin-bottom: 10px; }
  .form__lastame {
    width: 95%;
    margin: auto; }
  .form__mail {
    width: 95%;
    margin: 10px 0 10px 0; }
  .form__text {
    width: 99%;
    border-radius: 5px;
    margin: auto; }
  .form__button {
    background-color: #6b3694;
    border: #6b3694;
    padding: 10px;
    margin: 20px;
    text-transform: capitalize;
    font-family: 'Press Start 2P', cursive;
    color: #c4c4c4;
    border-radius: 5px; }

footer {
  color: #c4c4c4;
  text-align: center; }

@media screen and (min-width: 750px) {
  .logomobile {
    position: relative;
    top: 0px;
    right: 25%; }
  .form__surname {
    width: 46%;
    margin-bottom: 0%; }
  .form__lastname {
    width: 46%; }
  .form__text {
    width: 97%; }
  .my_projects__projects__img {
    width: 25%;
    border-radius: 5%; }
  .my_skills__skill__img {
    width: 12.5%;
    padding: 20px; } }

@media screen and (min-width: 950px) {
  .abt_me {
    width: 900px;
    margin: auto; }
  .form {
    width: 800px; }
    .form__surname {
      width: 47%;
      margin-bottom: 0%; }
    .form__lastname {
      width: 47%; }
    .form__text {
      width: 96%; }
  .logomobile {
    position: relative;
    top: 0px;
    right: 30%; } }
